all workflows/kachua-workflows/steeve_automate_workflow.json
{
    "name": "Steeve Automate Viral Video Workflow",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "hours",
                            "hoursInterval": 12
                        }
                    ]
                }
            },
            "id": "1",
            "name": "Schedule Trigger",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.2,
            "position": [
                0,
                0
            ]
        },
        {
            "parameters": {
                "url": "https://hnrss.org/frontpage"
            },
            "id": "2",
            "name": "Fetch AI News (RSS)",
            "type": "n8n-nodes-base.rssFeedRead",
            "typeVersion": 1,
            "position": [
                200,
                0
            ]
        },
        {
            "parameters": {
                "maxItems": 1
            },
            "id": "3",
            "name": "Limit",
            "type": "n8n-nodes-base.limit",
            "typeVersion": 1,
            "position": [
                400,
                0
            ]
        },
        {
            "parameters": {
                "modelId": {
                    "value": "gpt-4o",
                    "mode": "list"
                },
                "messages": {
                    "values": [
                        {
                            "content": "=Write a 30-second video script based on this news story.\n\nUse the 'Steeve Automate' format (Hook -> Value -> Proof -> CTA).\n- Start with an aggressive viral hook (e.g., 'Stop scrolling!').\n- Deliver the value of the news concisely.\n- Reference the proof (the news article).\n- End with a call to action.\n- Provide ONLY the spoken text. No formatting, no stage directions, no emojis.\n\nNews Title: {{ $json.title }}\nNews Link: {{ $json.link }}"
                        }
                    ]
                }
            },
            "id": "4",
            "name": "Generate Viral Script",
            "type": "@n8n/n8n-nodes-langchain.openAi",
            "typeVersion": 1,
            "position": [
                600,
                0
            ]
        },
        {
            "parameters": {
                "url": "https://api.screenshotone.com/take",
                "sendQuery": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "access_key",
                            "value": "YOUR_SCREENSHOTONE_API_KEY"
                        },
                        {
                            "name": "url",
                            "value": "={{ $('Limit').item.json.link }}"
                        },
                        {
                            "name": "full_page",
                            "value": "true"
                        },
                        {
                            "name": "viewport_width",
                            "value": "1080"
                        },
                        {
                            "name": "viewport_height",
                            "value": "1920"
                        }
                    ]
                }
            },
            "id": "5",
            "name": "Capture News Proof",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                800,
                0
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.heygen.com/v2/video/generate",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "X-Api-Key",
                            "value": "YOUR_HEYGEN_API_KEY"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"video_inputs\": [\n    {\n      \"character\": {\n        \"type\": \"avatar\",\n        \"avatar_id\": \"YOUR_HEYGEN_AVATAR_ID\",\n        \"avatar_style\": \"normal\"\n      },\n      \"voice\": {\n        \"type\": \"text\",\n        \"input_text\": {{ $('Generate Viral Script').item.json.message.content.toJsonString() }},\n        \"voice_id\": \"YOUR_ELEVENLABS_VOICE_ID\",\n        \"speed\": 1.1\n      }\n    }\n  ],\n  \"dimension\": {\n    \"width\": 1080,\n    \"height\": 1920\n  }\n}"
            },
            "id": "6",
            "name": "Generate Avatar Video",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                1000,
                0
            ]
        },
        {
            "parameters": {
                "amount": 2,
                "unit": "minutes"
            },
            "id": "7",
            "name": "Wait (HeyGen)",
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1.1,
            "position": [
                1200,
                0
            ]
        },
        {
            "parameters": {
                "url": "https://api.heygen.com/v1/video_status.get",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "X-Api-Key",
                            "value": "YOUR_HEYGEN_API_KEY"
                        }
                    ]
                },
                "sendQuery": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "video_id",
                            "value": "={{ $('Generate Avatar Video').item.json.data.video_id }}"
                        }
                    ]
                }
            },
            "id": "8",
            "name": "Get Avatar Video",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                1400,
                0
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.creatomate.com/v1/renders",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Bearer YOUR_CREATOMATE_API_KEY"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"template_id\": \"YOUR_CREATOMATE_TEMPLATE_ID\",\n  \"modifications\": {\n    \"Top_Frame_Proof\": \"{{ $('Capture News Proof').item.json.url }}\",\n    \"Bottom_Frame_Avatar\": \"{{ $('Get Avatar Video').item.json.data.video_url }}\",\n    \"Viral_Captions_Text\": \"{{ $('Generate Viral Script').item.json.message.content }}\"\n  }\n}"
            },
            "id": "9",
            "name": "Creatomate Split Screen & Captions",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                1600,
                0
            ]
        },
        {
            "parameters": {
                "amount": 1,
                "unit": "minutes"
            },
            "id": "10",
            "name": "Wait (Creatomate)",
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1.1,
            "position": [
                1800,
                0
            ]
        },
        {
            "parameters": {
                "url": "={{ $('Creatomate Split Screen & Captions').item.json.url }}"
            },
            "id": "11",
            "name": "Get Final Video Status",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                2000,
                0
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://postiz.yourdomain.com/api/public/v1/upload",
                "sendBody": true,
                "contentType": "multipart-form-data",
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "file",
                            "parameterType": "formBinaryData",
                            "inputDataFieldName": "data"
                        }
                    ]
                }
            },
            "id": "12",
            "name": "Upload to Postiz",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                2200,
                0
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://postiz.yourdomain.com/api/public/v1/posts",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"type\": \"now\",\n  \"posts\": [\n    {\n      \"integration\": { \"id\": \"YOUR_INSTAGRAM_ID\" },\n      \"value\": [\n        {\n          \"content\": \"{{ $('Limit').item.json.title }} #AI #News #Tech\",\n          \"video\": [{ \"id\": \"1\", \"path\": \"{{ $('Upload to Postiz').item.json.path }}\" }]\n        }\n      ],\n      \"settings\": { \"type\": \"post\" }\n    }\n  ]\n}"
            },
            "id": "13",
            "name": "Publish to Instagram",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                2400,
                0
            ]
        },
        {
            "parameters": {
                "content": "## Steeve Automate Workflow Configuration 🚀\n\n1. Replace all 'YOUR_API_KEY' placeholders in HTTP Request nodes.\n2. In HeyGen, supply 'YOUR_HEYGEN_AVATAR_ID' and 'YOUR_ELEVENLABS_VOICE_ID'.\n3. In Creatomate, create a vertical template and supply 'YOUR_CREATOMATE_TEMPLATE_ID'. Ensure it expects components: 'Top_Frame_Proof', 'Bottom_Frame_Avatar', and 'Viral_Captions_Text'.\n4. Replace Postiz endpoints with your hosted Postiz domain.",
                "height": 240,
                "width": 500
            },
            "id": "14",
            "name": "Sticky Note",
            "type": "n8n-nodes-base.stickyNote",
            "typeVersion": 1,
            "position": [
                600,
                -300
            ]
        }
    ],
    "connections": {
        "Schedule Trigger": {
            "main": [
                [
                    {
                        "node": "Fetch AI News (RSS)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fetch AI News (RSS)": {
            "main": [
                [
                    {
                        "node": "Limit",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Limit": {
            "main": [
                [
                    {
                        "node": "Generate Viral Script",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Generate Viral Script": {
            "main": [
                [
                    {
                        "node": "Capture News Proof",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Capture News Proof": {
            "main": [
                [
                    {
                        "node": "Generate Avatar Video",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Generate Avatar Video": {
            "main": [
                [
                    {
                        "node": "Wait (HeyGen)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Wait (HeyGen)": {
            "main": [
                [
                    {
                        "node": "Get Avatar Video",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Avatar Video": {
            "main": [
                [
                    {
                        "node": "Creatomate Split Screen & Captions",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Creatomate Split Screen & Captions": {
            "main": [
                [
                    {
                        "node": "Wait (Creatomate)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Wait (Creatomate)": {
            "main": [
                [
                    {
                        "node": "Get Final Video Status",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Final Video Status": {
            "main": [
                [
                    {
                        "node": "Upload to Postiz",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Upload to Postiz": {
            "main": [
                [
                    {
                        "node": "Publish to Instagram",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false,
    "settings": {
        "executionOrder": "v1"
    }
}